USE [%DATABASENAME%];

SET ANSI_NULLS ON;

SET QUOTED_IDENTIFIER ON;

/*** TABLE REGISTRATIONS ***/
CREATE TABLE [dbo].[REGISTRATIONS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UPN] [varchar](50) NOT NULL,
	[SECRETKEY] [varchar](8000) NULL,
	[MAILADDRESS] [varchar](50) NULL,
	[PHONENUMBER] [varchar](50) NULL,
    [PIN] [int] NOT NULL,
	[ENABLED] [bit] NOT NULL,
	[CREATIONDATE] [datetime] NULL,
	[METHOD] [int] NOT NULL,
 CONSTRAINT [PK_REGISTRATIONS] PRIMARY KEY CLUSTERED ([ID] ASC ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_REGISTRATIONS_UPN] UNIQUE NONCLUSTERED ([UPN] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]) ON [PRIMARY];

ALTER TABLE [dbo].[REGISTRATIONS] ADD  CONSTRAINT [DF_REGISTRATIONS_SECRETKEY]  DEFAULT (newid()) FOR [SECRETKEY];

ALTER TABLE [dbo].[REGISTRATIONS] ADD  CONSTRAINT [DF_REGISTRATIONS_PIN]  DEFAULT ((0)) FOR [PIN];

ALTER TABLE [dbo].[REGISTRATIONS] ADD  CONSTRAINT [DF_REGISTRATIONS_ENABLED]  DEFAULT ((1)) FOR [ENABLED];

ALTER TABLE [dbo].[REGISTRATIONS] ADD  CONSTRAINT [DF_REGISTRATIONS_PREFEREDMETHOD]  DEFAULT ((0)) FOR [METHOD];


/*** Index IX_REGISTRATIONS_MAIL ***/
CREATE NONCLUSTERED INDEX [IX_REGISTRATIONS_MAIL] ON [dbo].[REGISTRATIONS] ([MAILADDRESS] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY];

/*** Index IX_REGISTRATIONS_PHONE ***/
CREATE NONCLUSTERED INDEX [IX_REGISTRATIONS_PHONE] ON [dbo].[REGISTRATIONS] ([PHONENUMBER] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY];

/*** Index IX_REGISTRATIONS_SECRET ***/
CREATE UNIQUE NONCLUSTERED INDEX [IX_REGISTRATIONS_SECRET] ON [dbo].[REGISTRATIONS] ([ID] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY];

USE [master];

ALTER DATABASE [%DATABASENAME%] SET READ_WRITE;

