USE [master]
GO
/****** Object:  Database [MultiFactorEx]    Script Date: 02/11/2015 15:26:29 ******/
CREATE DATABASE [MultiFactorEx]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MultiFactorEx', FILENAME = N'D:\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MultiFactorEx.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MultiFactorEx_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DataLogs\MultiFactorEx_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

USE [MultiFactorEx]
GO
/****** Object:  User [MFA]    Script Date: 02/11/2015 15:26:29 ******/
CREATE USER [MFA] FOR LOGIN [MFA] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [MFA]
GO
/****** Object:  Table [dbo].[NOTIFICATIONS]    Script Date: 02/11/2015 15:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATIONS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REGISTRATIONID] [bigint] NOT NULL,
	[OTP] [int] NOT NULL,
	[CREATIONDATE] [datetime] NOT NULL CONSTRAINT [DF_NOTIFICATIONS_CREATIONDATE]  DEFAULT (getdate()),
	[VALIDITYDATE] [datetime] NOT NULL,
	[CHECKDATE] [datetime] NULL,
 CONSTRAINT [PK_NOTIFICATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REGISTRATIONS]    Script Date: 02/11/2015 15:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGISTRATIONS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UPN] [varchar](50) NOT NULL,
	[SECRETKEY] [varchar](256) NULL CONSTRAINT [DF_REGISTRATIONS_SECRETKEY]  DEFAULT (newid()),
	[MAILADDRESS] [varchar](50) NULL,
	[PHONENUMBER] [varchar](50) NULL,
	[ENABLED] [bit] NOT NULL CONSTRAINT [DF_REGISTRATIONS_ENABLED]  DEFAULT ((1)),
	[CREATIONDATE] [datetime] NULL CONSTRAINT [DF_REGISTRATIONS_CREATIONDATE]  DEFAULT (getdate()),
	[METHOD] [int] NOT NULL CONSTRAINT [DF_REGISTRATIONS_PREFEREDMETHOD]  DEFAULT ((0)),
 CONSTRAINT [PK_REGISTRATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_REGISTRATIONS_UPN] UNIQUE NONCLUSTERED 
(
	[UPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[LAST_NOTIFICATIONS]    Script Date: 02/11/2015 15:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LAST_NOTIFICATIONS]
AS
SELECT        R.ID AS REGISTRATIONID, N.ID AS NOTIFICATIONID, R.UPN, N.OTP, N.CREATIONDATE, N.VALIDITYDATE, N.CHECKDATE, R.SECRETKEY, R.PHONENUMBER, R.MAILADDRESS
FROM            dbo.REGISTRATIONS AS R INNER JOIN
                         dbo.NOTIFICATIONS AS N ON R.ID = N.REGISTRATIONID
WHERE        (R.ENABLED <> 0)

GO
/****** Object:  Index [IX_NOTIFICATIONS_REGISTRATIONS]    Script Date: 02/11/2015 15:26:29 ******/
CREATE NONCLUSTERED INDEX [IX_NOTIFICATIONS_REGISTRATIONS] ON [dbo].[NOTIFICATIONS]
(
	[REGISTRATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_REGISTRATIONS_MAIL]    Script Date: 02/11/2015 15:26:29 ******/
CREATE NONCLUSTERED INDEX [IX_REGISTRATIONS_MAIL] ON [dbo].[REGISTRATIONS]
(
	[MAILADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_REGISTRATIONS_PHONE]    Script Date: 02/11/2015 15:26:29 ******/
CREATE NONCLUSTERED INDEX [IX_REGISTRATIONS_PHONE] ON [dbo].[REGISTRATIONS]
(
	[PHONENUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_REGISTRATIONS_SECRET]    Script Date: 02/11/2015 15:26:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_REGISTRATIONS_SECRET] ON [dbo].[REGISTRATIONS]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO


USE [master]
GO
