USE [%DATABASENAME%];

SET ANSI_NULLS ON;

SET QUOTED_IDENTIFIER ON;

CREATE TABLE [dbo].[REGISTRATIONS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UPN] [varchar](256) NOT NULL,
	[SECRETKEY] [varchar](8000) NULL,
	[MAILADDRESS] [varchar](256) NULL,
	[PHONENUMBER] [varchar](50) NULL,
	[PIN] [int] NOT NULL,
	[ENABLED] [bit] NOT NULL,
	[METHOD] [int] NOT NULL,
	[OVERRIDE] [nvarchar](1024) NULL,
 CONSTRAINT [PK_REGISTRATIONS] PRIMARY KEY CLUSTERED ([ID] ASC) ,
 CONSTRAINT [IX_REGISTRATIONS_UPN] UNIQUE NONCLUSTERED ([UPN] ASC) 
 );
 
ALTER TABLE [dbo].[REGISTRATIONS] ADD  CONSTRAINT [DF_REGISTRATIONS_ENABLED]  DEFAULT ((1)) FOR [ENABLED];

ALTER TABLE [dbo].[REGISTRATIONS] ADD  CONSTRAINT [DF_REGISTRATIONS_PREFEREDMETHOD]  DEFAULT ((0)) FOR [METHOD];


CREATE NONCLUSTERED INDEX [IX_REGISTRATIONS_MAIL] ON [dbo].[REGISTRATIONS] ([MAILADDRESS] ASC);

CREATE NONCLUSTERED INDEX [IX_REGISTRATIONS_PHONE] ON [dbo].[REGISTRATIONS] ([PHONENUMBER] ASC);

USE [master];

ALTER DATABASE [%DATABASENAME%] SET READ_WRITE;

